URxvt.font:           xft:Input Mono:size=13:style=Regular,\
                      xft:Font Awesome 6 Free:style=Solid
URxvt.boldFont:       xft:Input Mono:size=13:style=Medium
URxvt.italicFont:     xft:Input Mono:size=13:style=Italic
URxvt.boldItalicFont: xft:Input Mono:size=13:style=Medium Italic

URxvt.scrollTtyOutput:   False
URxvt.scrollWithBuffer:  True
URxvt.scrollTtyKeypress: True

URxvt.keysym.Control-Insert:    eval:selection_to_clipboard
URxvt.keysym.Shift-Insert:      eval:paste_clipboard

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

URxvt.scrollBar: false

URxvt*background: black
URxvt*foreground: white
